[Unit]
Description=JSNL to Parquet Processor
After=network.target mysql.service
Wants=network.target mysql.service

[Service]
Type=oneshot
ExecStart=/home/chris/dev/rust/report_data_processor/jsnl_processor_run.sh
WorkingDirectory=/home/chris/dev/rust/report_data_processor
User=chris
Group=chris
Restart=on-failure
RestartSec=30s
StartLimitIntervalSec=5m
StartLimitBurst=3
# ExecStartPre=/bin/sh -c 'if [ "$(systemctl is-active mariadb.service)" != "active" ]; then systemctl restart mariadb.service; fi'

# On failure after reaching start limit, trigger recovery script
# ExecStopPost=/bin/sh -c 'if [ "$SERVICE_RESULT" = "success" ]; then exit 0; fi; \
#                            if [ "$(systemctl show -p NRestarts --value jsnl_processor.service)" -ge 2 ]; then \
#                              /usr/local/bin/jsnl_recovery.sh; \
#                            fi'

[Install]
WantedBy=multi-user.target 